
/*--------- BACKGROUND ---------------------*/

html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	background: var(--default);
	color: var(--font-default);
}

.no-overflow {
	overflow: hidden;
}

/*--------- HEADER ---------------------*/
header {
	background-color: var(--secondary-light);
	background-image: url("../img/header.jpg");
	background-size: 700px 100%;
	background-repeat: no-repeat;
	background-position: center;

	height: 180px;

	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--secondary-dark);
}

@media only screen and (max-width: 700px) {

	header {
		background-position: bottom;
		background-size: 100% auto;
	}

	#container {
		border-radius: 0;
	}

	body {
		margin: 0;
	}
}

@media only screen and (max-width: 450px) {
	header {
		height: 100px;
	}
}





