
/*--------- BACKGROUND ---------------------*/

html {
	background: var(--primary);
	background: linear-gradient(144deg, rgba(0,204,170,1) 0%, rgba(7,186,126,1) 94%);
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

/*Background of all the app view */
#container {
	background: var(--default);
	color: var(--font-default);
	border-style: none;
	width: 88%;
	border-radius: 5px;

	box-shadow:
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12)

}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 {
	background-color: var(--secondary-dark);
	color: var(--font-light);
	border-radius: 5px 5px 0 0;
	margin: 0;
	padding: 2rem 0;
	font-size: 1.5rem;
	font-family: inherit;
	text-align: center;
}

@media only screen and (max-width: 700px) {
	header h1 {
		border-radius: 0;
	}

	#container {
		width: 100%;
		border-radius: 0;
	}

	body {
		margin: 0;
	}
}

@media only screen and (max-width: 450px) {

}





