/*--------- ARTICLES ---------------------*/

/*Frame of each "article"*/
article {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.2);
    margin: 3rem 3rem 0 3rem;
    padding: 3.5rem 5rem;
    overflow: hidden;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-width: 1px;
    border-style: solid;
    border-color: var(--font-light);
}

.mobile-divide {
    display: none;
}

figcaption {
    display: flex;
    flex-direction: column;
    width: 100%;
}

figcaption div{
    margin: 2rem 0;
}

/*article title*/
figcaption h2 {
    margin: 0;
    font-size: 1.2rem;
    font-family: inherit;
    width: fit-content;
}

/*article text*/
figcaption div p {
    margin: 0;
    line-height: 1.45;
}


/*Button in end of each article*/
figcaption .button {
    display: table;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--font-light);
    padding: .9rem 1.2rem;

    width: fit-content;


    text-decoration: none;
    text-align: center;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Button when mouse over*/
.button:hover {
    color: var(--font-light-focused);
    background-color: var(--secondary-light);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*Kuvakehykset*/
figure {
    display: inline-block;
    width: 100%;
    max-width: 850px;
    height: fit-content;
    border-radius: 5px;
    z-index: 0;

    position: relative;
    object-fit: contain;

    margin: 0 0 3.5rem 0;
}

/*Kuvat*/
.image {
    z-index: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

/*Kysymysmerkkinapit*/

.pointer {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    cursor: pointer;

    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    color: #242323;
    border-color: #242323;
    outline:none;

    opacity: 75%;

    background-color: white;
    height: 35px;
    width: 35px;
}

/* Wikiteksti muokkaajat */

    figcaption h2{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .figcaption-content {
        margin: 0;
    }

    .figcaption-content h2 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        margin-bottom: .8rem;
    }

    .figcaption-content p {
        margin: 0 0 1rem 0;
    }


/* Tooltip text */
.pointer .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: black;
    color: var(--font-light);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;

    font-size: 1rem;

    left: 130%;
    bottom: 0;

    position: absolute;
    z-index: 1;
}

.pointer:hover {
    font-weight: bold;
    opacity: 90%;
    color: black;
    border-color: black;
}

.pointer:hover .tooltiptext {
    visibility: visible;
}

footer {
    margin-top: 3rem;
}

.source {
    font-style: italic;
    font-size: .8rem;
    text-align: end;

    margin: 0 !important;
}

@media only screen and (max-width: 700px) {
    article {
        margin: 1rem 1rem 0 1rem;
        padding: 2rem 3rem;
    }

    footer {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    article {
        margin: 0;
        box-shadow: none;

        border-radius: 0;
        border: none;

        padding: 1.5rem;

    }

    figure {
        margin-bottom: 1.5rem;
    }

    .mobile-divide {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px var(--font-default);
        background-color: var(--font-light);
    }

    footer {
        margin-top: 0;
    }
}

