article {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

article h2 {
    margin: 0 3rem 3rem 3rem;
}

#kartta {
    display: inline-block;
    height: 60vh;
    margin: 3rem 0;
    width: 75%;
    border-radius: 5px;
    z-index: 1;
}

section {
    display: flex;
    justify-content: center;
    width: calc(100% - 2rem);
}

input[type=text] {
    height: 40px;
    width: 300px;

    font-size: .8rem;

    box-sizing: border-box;

    border-radius: 5px;
    border-color: var(--font-default);
    border-width: 1px;

    padding: .5rem;
}

/*Punainen ääriviiva tekstilaatikolle*/
.redoutline {
    transition-duration: 95ms;
    border-color: #ff0029 !important;
    border-width: 2px !important;
}

.redoutline:focus {
    transition-duration: 95ms;
    outline-color: #ff0029 !important;
}

button {
    font-size: .8rem;
    padding: .5rem .5rem;

    height: 40px;
    width: 40px;

    background-color: var(--secondary);

    border-radius: 5px;
    border-color: var(--font-light);
    border-width: 1px;
    margin-left: .5rem;

    cursor: pointer;
}

button:hover{
    border-color: var(--font-light-focused);
}

button:hover .st0 {
    stroke: var(--font-light-focused) !important;
}

button:hover .st1 {
    stroke: var(--font-light-focused) !important;
    fill: var(--font-light-focused) !important;
}

@media only screen and (max-width: 700px) {
    #kartta {
        margin: 2rem 0;
        width: calc(100% - 4rem);
        height: 45vh;
    }
}

@media only screen and (max-width: 450px) {
    article {
        margin: 1.5rem 0;
    }

    article h2 {
        margin: 0 1rem 1rem 1rem;
    }

    #kartta {
        margin: 1rem 0;
        width: calc(100% - 2rem);
        height: 45vh;
    }
}

