article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 2vw 0 2vw;
    height: fit-content;
}

.figure {
    flex-basis: 32%;
    height: fit-content;
    max-width: 1600px;
    object-fit: contain;
    margin: 0 0 2vw 0;

    border-radius: 5px;
}

img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: -4px;
}

/* Lightbox -tausta */
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: black;
    justify-content: center;
}

.modal * {
    z-index: 5;
}

/* Lightbox -sisältö */
.modal-content {
    display: inline-block;
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: max-content;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.modal-content * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide {

}

/* Sulkemisnappi */
.close {
    position: fixed;
    z-index: 8;
    top: 8px;
    right: 30px;
    font-size: 35px;
    font-weight: bold;
    padding: .8rem;
}

.close svg {
    height: 25px;
    width: 25px;
    fill: var(--font-light);
}

.close:hover svg,
.close:focus svg {
    fill: var(--font-light-focused);
    text-decoration: none;
    cursor: pointer;
}

.control {
    display: block;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    top: 0;
    height: 100%;
    width: 15vh;
    background-color: gray;
    z-index: 7;
    transition-duration: 0.1s;
}

.control-icon {
    fill: var(--font-light);

    height: 120px;
    width: 45px;

    display: block;
    opacity: 100% !important;
    margin: 0 2vw;
    z-index: 6;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.control:hover {
    opacity: 20%;
}

.number-text {
    color: var(--font-light);
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 75%;
    border-radius: 5px;
}

.figure:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1950px) {
    .figure {
        flex-basis: 24%;
    }
}

@media only screen and (max-width: 700px) {
    .figure {
        flex-basis: 49%;
    }
}

@media only screen and (max-width: 450px) {
    .figure {
        flex-basis: 99%;
        margin: 0 auto 2vw auto;
    }
}

@media only screen and (max-height: 450px) {
    .modal * {
        padding: 0;
    }
}