:root {
    --secondary-light: #07ba7e;
    --secondary: #009263; /*Blue-Green*/
    --secondary-dark: #097351;

    --primary: #00CCAA; /*Cyan*/

    --default: #FFFFFF; /*White*/

    --font-default: #717580; /*Blueish-Gray*/

    --font-light: #e6e6eb; /*Blueish-Gray-White*/
    --font-light-focused: #FFFFFF;
}